<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

<appender name="R" class="org.apache.log4j.RollingFileAppender">
	<param name="Encoding" value="UTF-8" />
	<param name="File" value="logs/log.txt" />
	<param name="MaxFileSize" value="2KB"/>
	<!-- Keep one backup file -->
	<param name="MaxBackupIndex" value="1"/>
	<layout class="org.apache.log4j.PatternLayout" >
		<param name="ConversionPattern"
			   value="%d{dd.MM.yyyy HH:mm:ss} [%t] %-5p %c - %m%n"/>
	</layout>
</appender>

<logger name="by.bsu">
		<level value="debug" />
	</logger>
	<root>
		<appender-ref ref="R" />
	</root>
</log4j:configuration>